.float-child {
    display: inline-block;
}

.center {
    text-align: center;
}

button {
    margin-top: 10px;
    border-radius: 15px;
}

#scheme1text {
    color: #FFC20A;
    background-color: #0C7BDC;
}

#scheme2text {
    color: #994F00;
    background-color: #006CD1;
}

#scheme3text {
    color: #E1BE6A;
    background-color: #40B0A6;
}

#scheme4text {
    color: #E66100;
    background-color: #5D3A9B;
}


#scheme5text {
    color: #1AFF1A;
    background-color: #4B0092;
}

#scheme6text {
    color: #FEFE62;
    background-color: #D35FB7;
}

#scheme7text {
    color: #005AB5;
    background-color: #DC3220;
}

#scheme8text {
    color: #1A85FF;
    background-color: #D41159;
}



#scheme1 {
    color: #FFC20A;
    background-color: #0C7BDC;
}

#scheme2 {
    color: #994F00;
    background-color: #006CD1;
}

#scheme3 {
    color: #E1BE6A;
    background-color: #40B0A6;
}

#scheme4 {
    color: #E66100;
    background-color: #5D3A9B;
}


#scheme5 {
    color: #1AFF1A;
    background-color: #4B0092;
}

#scheme6 {
    color: #FEFE62;
    background-color: #D35FB7;
}

#scheme7 {
    color: #005AB5;
    background-color: #DC3220;
}

#scheme8 {
    color: #1A85FF;
    background-color: #D41159;
}